.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Mudando a cor de fundo do site*/
body {
  background-color: #FFFAEB;
}

main {
  min-height: 85vh; /* Garante que tudo fique alinhado */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mantém os elementos ordenados */
  gap: 30px; /* Espaçamento adequado entre os elementos */
  padding: 0px 0px 90px 0px;
}





