.section2 {
    background-color: #fff8f0;
    padding: 60px 20px;
    text-align: center;
  }
  
  /*Modificação da Section para envoltar ela em NEON. Tirei porque não gostei, ficou exagerado kkk'*/
  /* .section2 {
    background-color: #fff8f0;
    padding: 60px 20px;
    text-align: center;
    border-radius: 12px;
    animation: neonPulse 2.5s infinite alternate ease-in-out;
    transition: all 0.3s ease-in-out;
  } */
  

  .depoimentos-titulo {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #000000;
  }
  
  .cartas-depoimentos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card-depoimento {
    width: 160px;
    height: 230px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-depoimento:hover {
    transform: translateY(-5px);
  }
  
  .foto-card {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .nome-cliente {
    font-weight: 600;
    color: #573009;
    font-size: 1rem;
    margin: 0;
  }
  
  /* Estilo do modal */
  .popup-depoimento {
    align-items: center;
  }
  
  .foto-popup {
    width: 100%;
    border-radius: 10px;
  }
  
  .cidade-popup {
    font-size: 0.85rem;
    color: #999;
  }
  
  .fala-popup {
    font-size: 1rem;
    margin-top: 10px;
    font-style: italic;
  }
  
  .depoimentos-intro {
    font-size: 1.1rem;
    color: #573009;
    max-width: 700px;
    margin: -10px auto 40px auto;
    text-align: center;
    line-height: 1.6;
  }
  