.banner {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .banner-image {
    max-width: 80vw; /* Se adapta ao tamanho da tela */
    height: auto; /* Mantém proporção */
    object-fit: cover;
    position: absolute;
    top: -2rem;
    right: 6vw; /* Mantém flexível para telas menores */
  }
    
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 15px; 

}
  
.btn-primary {
  background-color: #f7931e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.banner-text {
  padding-top: 200px;
  padding-bottom: 15px; 
}

p {
  color: #532908;
  font-weight: 495;
}

/*------MOBILE-----------------*/
@media (max-width: 768px) {
  .banner-content {
      margin-top: -80px;
  }

  .btn-primary {
      margin-top: 13px;
  }
}