.section1 {
    padding: 40px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    min-height: 300px; /* Garante que tenha altura visível */

    margin-bottom: 0; /* Remove espaço abaixo da section */
    padding-bottom: 0; /* Reduz espaço interno */
}
  
.section1 h2,
.section1 p {
    margin: 0; /* Remove margem dos elementos internos */
    padding-top: 20px;
}
  
.carousel {
    max-width: 98%; /* Ajuste fino para ocupar mais espaço */
    position: relative;
    top: -50px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    width: 100%;
    max-height: 500px; /* Ajuste para enquadrar como no anexo */
    object-fit: cover; /* Mantém proporção sem cortes feios */
}

