.section1 {
    background-color: #ffefe0;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 60px;
    overflow: hidden;
  }
  
  .section1-texto h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section1-texto p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .carousel {
    height: 315px;
    overflow: hidden;
    position: relative;
  }

  .carousel .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  
  
  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 517px;
    margin: 0 auto;
  }
  
  .carousel .carousel-item {
    height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel .carousel-item img {
    width: 517px;
    height: 315px;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo da legenda personalizada */
  .carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    padding: 8px 12px;
    color: #fff;
    font-size: 0.85rem;
    text-align: left;
    z-index: 2;
    max-width: 85%;
  }
  
  .carousel-caption h3 {
    font-size: 1rem;
    margin-bottom: 4px;
    font-weight: 600;
    color: #fff;
  }
  
  .carousel-caption p {
    margin: 0;
    color: #fff;
  }
  
  .carousel-caption p,
  .carousel-caption h3 {
    margin: 0px;
  }
  
  .col {
    overflow: hidden;
  }
    
  /* Animação neon */
  @keyframes neonPulse {
    0% {
      box-shadow: 0 0 3px #573009, 0 0 6px #573009, 0 0 9px #573009;
    }
    50% {
      box-shadow: 0 0 6px #573009, 0 0 12px #573009, 0 0 18px #573009;
    }
    100% {
      box-shadow: 0 0 3px #573009, 0 0 6px #573009, 0 0 9px #573009;
    }
  }
  
  .neon-container {
    border-radius: 12px;
    animation: neonPulse 2.5s infinite alternate ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  